body{
    margin: 0;
    text-align: center;    
    min-height: 100vh;
    position: relative;
}

img{
    margin-top: 50px;
    width: 300px;
}

.brand-subtitle{
    display: block;
    font-family: arial;
    font-weight: normal;
}

.login-container{
    width: 385px;
    margin: 30px auto;
    box-shadow: 0 0 5px 3px rgba(0,0,0,0.1);
    border-radius: 10px;
    background-color: white;
    padding: 15px;
}

input{
    box-sizing: border-box;
    width: 100%;
    display: block;
    outline: none;
    padding:15px;
    font-size: 18px;  
    border-radius: 10px;
    border: 1px solid rgba(0,0,0,0.1);
    margin-top: 10px;
}

.btn-login{
    width: 100%;
    margin-top: 15px;
    display: block;
    padding: 15px 0;
    color: white;
    font-size: 20px;
    border-radius: 10px;
    border: none;
    font-weight: bold;
    cursor: pointer;
    background-color: #1877f2;
}

.forgot{
    margin: 15px 0;
    display: block;
    font-family: Arial;
    text-decoration: none;
    color: #1877f2;
}

.forgot:hover{
    text-decoration: underline;
}

hr{
    margin: 25px 0;
    opacity: 0.3;
}

.btn-create{
    margin: auto;
    margin-top: 15px;
    margin-bottom: 10px;
    display: block;
    padding: 15px 15px;
    color: white;
    font-size: 20px;
    border-radius: 10px;
    border: none;
    font-weight: bold;
    cursor: pointer;
    background-color:green;
}

.create{
    font-family: Arial;
    font-weight: lighter;
}

.link-create{
    color: black;
    text-decoration: none;
    font-weight: bold;
}

.link-create:hover{
    text-decoration: underline;
}

/*html {
    box-sizing: border-box;
  }
  *, *:before, *:after {
    box-sizing: inherit;
  }*/

.next-link {
    position: absolute; /* Allows positioning relative to the nearest positioned ancestor */
    bottom: 0; /* 0px from the bottom */
    right: 0; /* 0px from the right */
    padding: 50px;
    font-size: 20px;
}