body {
  margin: 0;
  min-height: 100vh;
  position: relative;
}

.container {
  max-width: 1536px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 0.5rem;
  padding-right: 0.5rem;
  border: 3px solid red;
  height: 500px;
}

/* 2xl */
@media (max-width: 1536px) {
  .container {
    max-width: 1280px;
  }
}

/* xl */
@media (max-width: 1280px) {
  .container {
    max-width: 1024px;
  }
}

/* lg */
@media (max-width: 1024px) {
  .container {
    max-width: 768px;
  }
}

/* md */
@media (max-width: 768px) {
  .container {
    max-width: 640px;
  }
}

/* sm */
@media (max-width: 640px) {
  .container {
    max-width: 475px;
  }
}

/* xs */
@media (max-width: 475px) {
  .container {
    width: 100%;
  }
}

.next-link, .previous-link {
  position: absolute; /* Allows positioning relative to the nearest positioned ancestor */
  bottom: 0;
  padding: 50px;
  font-size: 20px;    
}

.next-link {
  right: 0;
}

.previous-link {
  left: 0;
}