body{
    margin: 0;
    min-height: 100vh;
    position: relative;
}

nav{
    width: 300px;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    background-color: black;
    border-top-right-radius: 25px;
    border-bottom-right-radius: 25px;
    box-shadow: 7px 0px 13px -1px rgba(0,0,0,0.68);
    -webkit-box-shadow: 7px 0px 13px -1px rgba(0,0,0,0.68);
    -moz-box-shadow: 7px 0px 13px -1px rgba(0,0,0,0.68);
}

.brand-container-background{
    width: 300px;
    height: 20%;
    position: fixed;
    top: 0;
    background-color: rgb(75, 75, 219);
    border-top-right-radius: 25px;

}

.brand-container{
    text-align: center;
    color: white;
    font-family: verdana;
    padding: 15px 15px;
}

#brand-title{
    margin: 0;
    margin-top: 15px;
    font-size: 30px;
}

.link-container{
    position: fixed;
    top: 20%;
    width: 300px;
}

.link{
    display: block;
    color: white;
    text-decoration: none;
    font-family: verdana;
    padding: 15px 15px;
    transition: 0.3s;
}

.link:hover{
    background: white;
    color: black;
}

.profile-container{
    color: white;
    font-family: verdana;
    margin: 0;
    padding: 15px;
    position: absolute;
    bottom: 0;
}

.next-link, .previous-link {
    position: absolute; /* Allows positioning relative to the nearest positioned ancestor */
    bottom: 0;
    padding: 50px;
    font-size: 20px;    
}
  
.next-link {
    right: 0;
}

.previous-link {
    left: 0;
    margin-left: 300px;
}